.me-link img:hover {
  width: 2.2em;
}
.foto img:hover {
  width: 663px;
}
.footer-icons img:hover {
  width: 40.4px;
}
.reviews-bottoms img:hover{
  background-color: rgba(123, 74, 226, 0.1);
}
.menu-nav a:hover {
  color: rgba(123, 74, 226, 0.5);
  font-weight: 700;
}
.border:hover {
  background-color: rgba(123, 74, 226, 0.1);
}
.border,
.reviews-bottoms img{
  transition: background-color 0.3s linear;
}
.me-link img,
.foto img,
.footer-icons img{
  transition: width 0.3s linear;
}
.lines-item::before,
.lines-item::after{
  transition: all 0.25s linear;
}