.mobile {
  display: flex;
}
h2 {
  font-size: 24px;
  width: 220px;
  text-align: left;
  margin-left: 24px;
}
h3 {
  font-size: 16px;
  text-align: left;
  width: 60px;
  margin-left: 24px;
}
h4 {
  font-size: 12px;
}
.me-link {
  order: -2;
  align-self: center;
  margin-left: 0;
}
.me-link a {
  width: 32px;
}
.me-link img {
  pointer-events: none;
}
.foto {
  order: -1;
  height: 385px;
  margin-top: 0;
}
.foto img {
  width: 360px;
  pointer-events: none;
}
.me {
  align-items: center;
  max-height: 3000px;
  flex-wrap: nowrap;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 24px;
  margin-right: 24px;
}
.name {
  align-self: flex-start;
}
.icon-hi {
  margin-top: 0;
  border-radius: 8px;
  width: 122px;
  height: 22px;
}
.res-downl {
  margin-top: 10px;
}
.react-icon {
  display: flex;
}
.res-downl img {
  margin-right: 30px;
}
.res-whatsapp {
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 24px;
  margin-top: 22px;
  align-self: baseline;
}
.whatsappText {
  padding-left: 5px;
}
.whatsapp {
  padding: 0;
  padding-left: 8px;
  width: 146px;
  height: 44px;
  border-radius: 8px;
}
.experience {
  margin-top: 69px;
  flex-direction: column;
  align-items: center;
}
.aboutMe {
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-left: 0;
}
.aboutMe img {
  width: 240px;
}
.aboutMe .foto {
  margin-top: 80px;
  margin-bottom: 10px;
  max-height: 250px;
}
.short {
  align-self: flex-start;
  margin-left: 24px;
  margin-bottom: 65px;
  margin-top: 14px;
  padding: 0;
}
.short:nth-child(2) img {
  width: 330px;
}
.name-item1 {
  font-size: 48px;
}
.frame-experience .font32 {
  font-size: 24px;
}
.experience > :nth-child(2) {
  /*Почему не срабатывает без ">"?*/
  order: 1;
}
.frame-icon img {
  height: 20px;
}
.short .font48 {
  font-size: 24px;
}
.frame-icon {
  border-radius: 8px;
}
.frame-portfolio img {
  width: 140px;
}
.frame-portfolio {
  width: 140px;
  height: 20px;
}
.projects-title h2 {
  width: 50px;
  margin-bottom: 32px;
  margin-left: 0;
}
.projects-title {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 29px;
}
.projects-icons {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.projects-icons-item {
  width: 116px;
  height: 40px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}
.projects-icons-item img {
  width: 27px;
}
.projects-icons-item:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px;
}
.projects {
  margin: 0 24px;
  flex-wrap: nowrap;
  overflow: auto;
}
.frame-projects {
  min-width: 241px;
  height: 345px;
  padding-left: 25px;
  padding-right: 25px;
  width: 240px;
  height: 312px;
}
.frame-projects:nth-child(1) {
  margin-left: 0;
}
.frame-projects h4 {
  font-size: 16px;
}
.proimage img {
  width: 100%;
}
.protext {
  margin-bottom: 25px;
  letter-spacing: -0.1px;
}
.protext br {
  display: none;
}
.react-icon {
  display: flex;
}
.linkgithub {
  margin: 30px 24px;
  display: flex;
  justify-self: flex-end;
}
.v-projects-title {
  margin-left: 24px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 24px;
  width: 100px;
}
.marginL140 {
  margin-left: 24px;
}
.frame-v-projects {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 240px;
  height: 330px;
}
.v-projects {
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0 24px;
  overflow-y: hidden;
}
.video-img {
  width: 252px;
  height: 143px;
}
.font20 {
  font-size: 14px;
}
.skills-icon {
  margin-top: 70px;
  margin-bottom: 16px;
  width: 96px;
}
.progress {
  font-size: 12px;
}
.tec-title {
  font-size: 14px;
  margin-top: 27px;
}
.tec-icons-item {
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0 24px;
  justify-content: flex-start;
}
.tec-icons-item img {
  margin-left: 11px;
  margin-right: 11px;
}
.progress {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow: auto;
  margin-left: 24px;
}
.progress-blocks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.progress-parts {
  text-align: left;
}
.progress-parts h3 {
  margin-left: 0;
  margin-top: 24px;
}
.frame-progress:nth-child(1) {
  margin-left: 0;
}
.frame-progress {
  width: 282px;
  height: 90px;
  margin-top: 23px;
  padding: 15px;
  border-radius: 8px;
  flex-shrink: 0;
  margin-bottom: 10px;
}
.frame-progress h4 {
  font-size: 16px;
}
.progress-parts .font24 {
  font-size: 12px;
}
.frame-portfolio {
  margin-left: 24px;
}
.reviews {
  flex-wrap: nowrap;
  overflow: auto;
  margin: 16px auto 24px 24px;
}
.reviews-icon {
  width: 110px;
  height: 14px;
  margin-top: 70px;
}
.reviews-icon img {
  width: 120%;
  height: 120%;
}
.frame-reviews {
  width: 260px;
  height: 210px;
  padding: 17px;
}
.frame-reviews .font16 {
  font-size: 14px;
}
.frame-reviews > img {
  width: 19px;
}
.reviews-name h4 {
  font-size: 12px;
}
.reviews-name .blue {
  font-size: 12px;
}
.frame-reviews .inline img {
  width: 38px;
  height: 38px;
}
.frame-reviews .inline {
  margin-top: auto;
}
.frame-reviews {
  overflow: auto;
}
.contacts-icon {
  margin-top: 35px;
  margin-bottom: 24px;
  margin-left: 24px;
  width: 104px;
  height: 20px;
}
.contacts-icon img {
  width: 90%;
}
.write {
  margin-left: 24px;
  margin-bottom: 24px;
}
.contacts-items {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
}
.whatsapp-bottom {
  width: 145px;
  height: 42px;
  border-radius: 8px;
}
.emale {
  margin-top: 19px;
  margin-left: 0;
  align-items: flex-start;
  font-size: 16px;
}
.emale :nth-child(1) {
  width: 24px;
}
.emale-item img {
  width: 16px;
  padding: 0;
}
.emale-item {
  flex-direction: row;
  justify-content: space-between;
}
.emale-item .gray {
  width: auto;
  height: auto;
  margin-right: 5px;
}
.to-top-bottom {
  text-align: left;
}
.to-top {
  margin-bottom: 60px;
  margin-top: 40px;
  margin-left: 78px;
  text-align: left;
}
.to-top .font20 {
  font-size: 16px;
}
.desktop {
  display: none;
}
.name .frame-icon {
  width: 80px;
  height: 16px;
}
.name .frame-icon img {
  width: 90%;
  height: 110%;
}
.short .frame-icon {
  width: 91px;
  height: 20px;
}
.short .frame-icon img {
  width: 90%;
  height: 90%;
}
.frame-portfolio {
  width: 83px;
  height: 10px;
}
.frame-portfolio img {
  width: 160%;
  height: 160%;
}
.skills-icon {
  width: 74px;
  height: 20px;
}
.skills-icon img {
  width: 100%;
  height: 85%;
}
.career-icon {
  width: 74px;
  height: 20px;
  margin-left: 24px;
}
.center-icon {
  justify-content: left;
}
.footer-icons img {
  width: 30px;
  pointer-events: none;
}
.footer {
  flex-direction: column-reverse;
  justify-content: space-around;
}
.footer-text {
  padding-left: 0;
  position: static;
  margin-bottom: 14px;
  margin-top: 6px;
}
.footer .font16 {
  font-size: 12px;
}
.footer-icons {
  margin-top: 14px;
  margin-bottom: 6px;
  width: 130px;
}
.frame-v-projects .font18 {
  font-size: 14px;
}
.v-projects-group {
  flex-direction: column;
  justify-content: space-between;
}
.v-projects-group :nth-child(1) {
  order: 1;
}
.v-projects-group :nth-child(2) {
  order: 3;
}
.v-projects-group :nth-child(3) {
  order: 2;
  margin-top: 0;
  margin-bottom: 45px;
}
.v-projects-group :nth-child(4) {
  order: 4;
  margin-top: 25px;
  align-self: flex-end;
}
.play {
  margin-top: -3px;
}
.proname {
  font-size: 16px;
}
.reviews-title {
  margin-left: 0;
}
.body {
  width: 100%;
}
.header {
  position: sticky;
  top: 0;
  height: 84px;
  background-color: rgba(41, 20, 88);
  margin: 0 auto;
  width: 100%;
}
nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 14px;
}
.lines-container {
  padding: 40px 20px;
  float: right;
}
.lines-item {
  background: white;
  display: block;
  height: 2px;
  width: 24px;
  position: relative;
}
.lines-item::before,
.lines-item::after {
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: all 0.25s linear;
}
.lines-item::before {
  top: 7px;
}
.lines-item::after {
  top: -7px;
}
.menu-checkbox:not(:checked) ~ nav {
  display: none;
  height: 64px;
}
.menu-checkbox:checked ~ nav {
  display: block;
  background-color: rgb(41, 20, 88); /*почему этот цвет просвечивает?*/
  height: 280px;
}
.menu-checkbox:checked ~ .lines-container .lines-item {
  background: transparent;
}
.menu-checkbox:checked ~ .lines-container .lines-item::before {
  transform: rotate(-45deg);
  top: 0;
}
.menu-checkbox:checked ~ .lines-container .lines-item::after {
  transform: rotate(45deg);
  top: 0;
}
.menu-nav li {
  float: none;
}
.menu-nav a {
  pointer-events: none;
  margin-bottom: 10px;
}
.logo {
  float: none;
}
nav {
  width: 200px;
  float: none;
}
.reactjs-icon,
.typescript-icon {
  font-size: 12px;
}
.frame-progress-title {
  font-size: 16px;
}
.border {
  pointer-events: none;
}
.center-icon .skills-icon {
  justify-content: left;
  margin-left: 24px;
}
